.console {
  position: relative;
  color: $white;
  font-weight: 700;
}

.console-label {
  width: 1em;
  margin-left: -1em;
  display: inline-block;
  vertical-align: bottom;
}

.console-cursor {
  display: inline-block;
  vertical-align: bottom;
  background-color: $white;
  // width: .8em;
  // height: 1.2em;
  animation: blink 1s infinite;
}

.console-prompt {
  display: inline-block;
  width: auto;
}

.console-capture {
  position: fixed;
  left: -9999px;
}

.console-prompt-box {
  position: relative;
  // display: inline-block;
}

// .jquery-console-prompt-label {
//   margin-left: -20px;
// }

// .jquery-console-cursor {
//   background-color: #fff;
//   animation: blink 1s infinite;
// }

// .jquery-console-message {
//   min-height: 20px;
//   font-weight: 400;
//   margin: 1em 0;
// }
