*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  background-color: $background;
  color: $text;
  font-family: $primary-font;
  font-weight: $primary-weight;
  padding: $body-margin;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
}