/*    Colors
--------------------------------------------------------- */

$white:                   #fff;
$black:                   #000;
$gray-dark:               #555;
$background:              #111;
$text:                    $white;


/*    Fonts
--------------------------------------------------------- */

$primary-font:            'Source Code Pro';
$primary-weight:          400;

/*    Margins
--------------------------------------------------------- */

$body-margin:             20px 40px;