%xanadu-console.console
  .console-inner
    %form( onsubmit={parent.console_input} )
      %textarea.console-capture

  :coffeescript
    # @$capture = $('.console-capture')
    console_input(ev) {
      alert ev
    }
