.loader>
  .loader-text
    Connecting...
  %span.loader-bracket> [
  %span.loader-increment> &nbsp;
  %span.loader-increment> &nbsp;
  %span.loader-increment> &nbsp;
  %span.loader-increment> &nbsp;
  %span.loader-increment> &nbsp;
  %span.loader-increment> &nbsp;
  %span.loader-increment> &nbsp;
  %span.loader-increment> &nbsp;
  %span.loader-increment> &nbsp;
  %span.loader-increment> &nbsp;
  %span.loader-increment> &nbsp;
  %span.loader-increment> &nbsp;
  %span.loader-increment> &nbsp;
  %span.loader-increment> &nbsp;
  %span.loader-increment> &nbsp;
  %span.loader-increment> &nbsp;
  %span.loader-increment> &nbsp;
  %span.loader-increment> &nbsp;
  %span.loader-increment> &nbsp;
  %span.loader-increment> &nbsp;
  %span.loader-increment> &nbsp;
  %span.loader-increment> &nbsp;
  %span.loader-increment> &nbsp;
  %span.loader-increment> &nbsp;
  %span.loader-increment> &nbsp;
  %span.loader-increment> &nbsp;
  %span.loader-increment> &nbsp;
  %span.loader-increment> &nbsp;
  %span.loader-increment> &nbsp;
  %span.loader-increment> &nbsp;
  %span.loader-increment> &nbsp;
  %span.loader-increment> &nbsp;
  %span.loader-increment> &nbsp;
  %span.loader-increment> &nbsp;
  %span.loader-increment> &nbsp;
  %span.loader-increment> &nbsp;
  %span.loader-increment> &nbsp;
  %span.loader-increment> &nbsp;
  %span.loader-increment> &nbsp;
  %span.loader-increment> &nbsp;
  %span.loader-increment> &nbsp;
  %span.loader-increment> &nbsp;
  %span.loader-increment> &nbsp;
  %span.loader-increment> &nbsp;
  %span.loader-increment> &nbsp;
  %span.loader-increment> &nbsp;
  %span.loader-increment> &nbsp;
  %span.loader-increment> &nbsp;
  %span.loader-increment> &nbsp;
  %span.loader-increment> &nbsp;
  %span.loader-bracket> ]
  %span.loader-percent> 0%