---
title: "Your Text Adventure"
---

%section
  .dialog
  .console
    .console-inner
      %textarea.console-capture
      .console-prompt-box
        %span.console-label>
          > 
        %span.console-prompt>
          %span.console-cursor
            &nbsp;